*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(87, 87, 87);
}

#root {
  height: auto;
}

.calculator-container {
  width: 70%;
  margin: 7% auto;
  display: flex;
  background-color: rgb(116, 113, 110);
  padding: 2%;
}

.calculator-container h2 {
  color: #fff;
  width: 50%;
  height: auto;
  padding: 4rem;
}

.keypads {
  width: 40%;
  border: 1px solid #bbb;
  margin: 0 auto;
  height: auto;
}

.keypads p {
  text-align: end;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 0.2rem;
  font-size: 1.2rem;
  color: #fff;
  background-color: hsl(0, 1%, 65%);
}

.keypads-btn button {
  width: 25%;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid  #ddd;
  background-color: #fff;
}

.keypads-btn button:hover {
  background-color: #ddd;
}

.keypads-btn button.zero {
  width: 50%;
}

.keypads-btn button.bg-orange {
  background-color: rgb(255, 174, 24);
}

.keypads-btn button.bg-orange:hover {
  background-color: rgb(246, 192, 92);
}

.homeContainer {
  /* background-color: #d3d0d0; */
  background-color: #706f6f;
  color: #fff;
  width: 80%;
  margin: 8% auto;
  padding: 4rem;
}

.homeContainer h1 {
  margin-bottom: 2rem;
}

.homeContainer p {
  width: 90%;
  margin-left: 2rem;
  text-align: justify;
  line-height: 1.4rem;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.navBar h1 {
  margin-left: 2rem;
}

.navBar ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
  cursor: pointer;
}

.quote {
  background-color: #838080;
  color: #fff;
  width: 80%;
  margin: 8% auto;
  padding: 2rem;
}

.quote p {
  text-align: justify;
  line-height: 1.4rem;
  font-weight: 800;
  font-style: italic;
}
